/*these are styling of the hero section of the Home page*/
.hero{
    height: 100vh;
    background-size: cover;
}
.hero-text{
    /*these used to mke texts on the midlle*/
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 1;
}
.hero-text h1{
    font-size: 2.5rem;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text p{
    font-size: 1rem;
    font-weight: 200;
    opacity: 0.6;
    margin-bottom: 20px;
}
.hero-text a{
    background-color: #fff;
    padding: 0.4rem 0.7rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border-radius: 12px;
    letter-spacing: 0.5px;
}
/*these are styling of the hero section of the About page*/
.hero-mid{
    height: 70vh;
    background-size: cover;
    background-position: 20%;
}
.hero-mid a{
    display: none;
}
.hero-mid h1{
    padding-bottom: 4rem;
}
@media screen and (max-width:850px){
    /*this is used to hide the texts of hero section when we 
    we wanna show the menu of the navbar*/
    .hero-text{
        z-index: 0;
    }
}
@media screen and (max-width:555px){

    .hero-text h1{
        padding: 10px 20px;
    }
    .hero-text p{
        font-size: 0.8rem;
        color: #000;
        font-weight: 800;
        padding: 0 0 2rem;
        opacity: 1;
    }
    .hero-text a{
        font-size: 0.85rem;

    }
}